<%- include('../layouts/header', {title: 'Index Users'}); -%>
<div class="row justify-content-center" x-data="{
        fname: '',
        lname: '',
        email: '', 
        phone: '', 

        validate(id) {
            let element = document.getElementById(id);
            if(element.value === ''){
                if(element.parentNode.children.length === 1){
                    element.style = 'border: 2px solid #e01a16';
                    let errorMsg = document.createElement('p');
                    errorMsg.id = 'errorMsg';          
                    errorMsg.style = 'color: #e01a16; font-size: 12px'              
                    errorMsg.innerHTML = element.id.charAt(0).toUpperCase() + element.id.slice(1) + ' is required.';
                    element.parentNode.insertBefore(errorMsg, element.nextSibling);
                }
            }
            else{
                element.style = 'border: 1px solid #ced4da;';
                let errorMsg = element.nextElementSibling;
                if(errorMsg) errorMsg.remove();
                else return;
            }
        }
    }">
    <div class="col-md-8">
        <div class="card">
            <h1 class="display-4 text-center">Create new employee</h1>

            <div class="card-body">
                <form action="/employees/" method="POST">
                    <div class="form-group">
                        <label for="fname">First name</label>
                        <div>
                            <input x-model="fname" @keyup.debounce.300="validate('fname')"
                                @keydown.debounce.300="validate('fname')" type="text" name="fname" id="fname"
                                value="<%= flash.fname ? flash.fname : '' %>" class="form-control" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lname">Last name</label>
                        <div>
                            <input x-model="lname" @keyup.debounce.300="validate('lname')"
                                @keydown.debounce.300="validate('lname')" type="text" name="lname" id="lname"
                                value="<%= flash.lname ? flash.lname : '' %>" class="form-control" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email">E-mail name</label>
                        <div>
                            <input x-model="email" @keyup.debounce.300="validate('email')"
                                @keydown.debounce.300="validate('email')" type="email" name="email" id="email"
                                class="form-control" required>
                        </div>
                    </div>

                    <div class="form-group mb-5">
                        <label for="phone">Phone number</label>
                        <div>
                            <input x-model="phone" @keyup.debounce.300="validate('phone')"
                                @keydown.debounce.300="validate('phone')" type="text" name="phone" id="phone"
                                value="<%= flash.phone ? flash.phone : '' %>" class="form-control" required>
                        </div>
                    </div>

                    <input type="hidden" name="company_id" id="company_id" value="<%= companyId %> ">

                    <div class="d-flex justify-content-between">
                        <div>
                            <a href="/employees/<%= companyId %> " class="btn btn-secondary btn-lg"> Go back</a>
                        </div>

                        <div class="d-flex flex-column">
                            <button x-bind:disabled="fname === '' || lname === '' || email === '' || phone === ''"
                                type="submit" class="btn btn-primary btn-lg">Create</button>
                            <span
                                x-bind:class="{ 'd-none': fname !== '' && lname !== '' && email !== '' && website !== '' }"
                                style="color: #e01a16; font-size: 12px">Some of input fields have errors.</span>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<%- include('../layouts/footer'); -%>