<%- include('../layouts/header', {title: 'Index Users'}); -%>
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <h1 class="display-4 text-center">Employees of ABC Company</h1>

            <div class="card-body">
                <div class="alert alert-success" role="alert">
                    Obavestenja
                </div>

                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">E-mail</th>
                        <th scope="col" class="text-center"><a href="/employees/create/<%= employees[0].company_id%>" class="btn btn-success">Add employee</a></th>
                    </tr>
                    </thead>
                    <tbody>
                        <% employees.forEach(employee => { %>
                            <tr>
                                <th scope="row"><%= ++i %> </th>
                                <td><a href="/employees/show/<%= employee.id %>"><%= employee.fname + ' ' + employee.lname %></a></td>
                                <td><%= employee.email %></td>
                                <td class="text-center">
                                    <form action="/companies/<%= employee.id %>" method="POST">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>

                <a href="/home" class="btn btn-primary btn-lg">Show all companies</a>
            </div>
        </div>
    </div>
</div>
<%- include('../layouts/footer'); -%>