<%- include('../layouts/header', {title: 'Index Users'}); -%>
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <h1 class="display-4 text-center">EDIT | <%= employee.fname + ' ' + employee.lname %></h1>

            <div class="card-body">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th scope="col">First name</th>
                        <th>
                            <%= employee.fname %>
                        </th>
                        <td></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th scope="col">Last name</th>
                        <th>
                            <%= employee.lname %>
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th scope="col">E-mail</th>
                        <th>
                            <%= employee.email %>
                        </th>
                        <td></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th scope="col">Phone number</th>
                        <th>
                            <%= employee.phone %>
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th scope="col">Actions</th>
                        <th>
                            <a href="/employees/edit/<%= employee.id %>" class="btn btn-primary">Edit</a>
                        </th>
                        <td></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th scope="col">Action</th>
                        <th>
                            <a href="/employees/<%= employee.company_id %> " class="btn btn-secondary">Go back</a>
                        </th>
                        <td></td>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<%- include('../layouts/footer'); -%>