<%- include('layouts/header', {title: 'Home page'}); -%>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <h1 class="display-4 text-center">Companies</h1>

            <div class="card-body">
                <div class="alert alert-success" role="alert">
                    Obavestenja
                </div>

                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Logo</th>
                        <th scope="col">Company Name</th>
                        <th scope="col">Employee count</th>
                        <th scope="col"></th>
                        <th scope="col" class="text-center"><button type="button" class="btn btn-success">Add Company</button></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% companies.forEach(company => { %>
                        <tr>
                            <td class="align-middle">0</td>
                            <td scope="row"><a href="#"><img src="<%= 'images/' + company.logo %>"  width="100px" height="100px"></a></td>
                            <td class="align-middle"><a href="#"><%= company.name %></a></td>
                            <td class="align-middle">Employee number</td>
                            <td class="text-center align-middle"><a href="/companies/edit/<%= company.id %>" class="btn btn-primary">Update</a></td>
                            <td class="text-center align-middle">
                                Delete
                            </td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<%- include('layouts/footer'); -%>