<%- include('../layouts/header', {title: 'Edit Company'}); -%>
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <h1 class="display-4 text-center">Edit | <%= company.name %> </h1>

            <div class="card-body">
                <div class="alert alert-success" role="alert">
                    Obavestenja
                </div>
                <form action="companies/update/<%= company.id %>" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" value="<%= company.name %>" class="form-control">                           
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" value="<%= company.email %>" class="form-control"> 
                    </div>

                    <div class="form-group">
                        <label for="website">Website</label>
                        <input type="website" name="website" id="website" value="<%= company.website %>" class="form-control">                
                    </div>

                    <div class="form-group">
                        <label for="logo">Logo</label>
                        <input type="file" name="logo" id="logo" class="form-control-file">                
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg float-right">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('../layouts/footer'); -%>